<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Settings Page</h2>
  <!-- Add your settings options here -->
</ion-content>
<ion-content>
  <!-- Button to show alert -->
  <ion-button expand="block" (click)="showAlert()">Show Alert</ion-button>

  <!-- Button to show toast -->
  <ion-button expand="block" (click)="showToast()">Show Toast</ion-button>

  <ion-button expand="block" (click)="showDeleteConfirm()">Show Delete</ion-button>
</ion-content>

